# Learn how to create a GCP project:
# https://developers.google.com/workspace/guides/create-project
GCP_PROJECT:
GCP_REGION: us-central1

# Create a Discord application here:
# https://discord.com/developers/applications
DISCORD_TOKEN:
